

html {
    background-color: red;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.nav {
     border: 1px solid black; /* Um die Border der Div sehen zu können */
     position:fixed;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-height: 120px;
    z-index: 1; /* Immer im Vordergrund */
}

#logo {
    max-width: 100px;
    width: 100%;
    height: auto;
    float: left;
    padding: 10px;

}

.nav a {
    text-decoration: none;
    margin-left: 6%;
    font-size: 200%;
    font-family: 'Lato', sans-serif;

}

.nav a:hover {
    animation-name: nav-as;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

@keyframes nav-as {
    0% {font-size: 200%;}
    20%{font-size: 195%;}
    100% {font-size: 240%;}
}

.nav ul {
    list-style: none;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}

.nav-ul li {
    display: inline;
    
}

.videosec {
    height: 100vh;
}

.videosec video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.videosec h1 {
    font-family: Lato;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

section {
    height: 100vh;
}