

html {
    background-color: red;
}

.nav {
    /* border: 1px solid black; */
   
}

#logo {
    max-width: 100px;
    width: 100%;
    height: auto;
    float: left;

    
}

.nav a {
    text-decoration: none;
    margin-left: 3%;
    font-size: 150%;
    font-family: 'Lato', sans-serif;
    
}

.nav-ul {
    list-style: none;
}

.nav-ul li {
    display: inline;
    
}

